<!DOCTYPE html>
<!--

========= CIS 2232 Advanced Object Oriented Programming PWC ==========
 ____            _           _     ____            _    __       _ _       
|  _ \ _ __ ___ (_) ___  ___| |_  |  _ \ ___  _ __| |_ / _| ___ | (_) ___  
| |_) | '__/ _ \| |/ _ \/ __| __| | |_) / _ \| '__| __| |_ / _ \| | |/ _ \ 
|  __/| | | (_) | |  __/ (__| |_  |  __/ (_) | |  | |_|  _| (_) | | | (_) |
|_|   |_|  \___// |\___|\___|\__| |_|   \___/|_|   \__|_|  \___/|_|_|\___/ 
               |__/                                                         

Project Members: Christopher Sigouin & Matthew Hutchinson

Date: 12-Dec-2015
Purpose: Final Project

-->

<div th:fragment="hyperlinks">
    <p>Hyperlinks can be links that you can relate to your project.  These could be
        another portfolio website, a link to BitBucket or GitHub, or anything in
        that context</p>
    <div class="input_fields_wrap_hyperlinks">
        <button class="add_field_hyperlinks">Add Hyperlink</button>
        <div>Hyperlink: <input type="text" name="hyperlinks" id="hyperlinks"/></div>
        Description: <br/>
        <textarea class="description" name="hyperlinkDescription" id="hyperlinkDescription"></textarea>
        <br/><br/>
    </div>
 
</div>
