<!--
    _            _                                  _     _____
   / \   ___ ___(_) __ _ _ __  _ __ ___   ___ _ __ | |_  |___ /
  / _ \ / __/ __| |/ _` | '_ \| '_ ` _ \ / _ \ '_ \| __|   |_ \
 / ___ \\__ \__ \ | (_| | | | | | | | | |  __/ | | | |_   ___) |
/_/   \_\___/___/_|\__, |_| |_|_| |_| |_|\___|_| |_|\__| |____/
                   |___/

========= CIS 2232 Advanced Object Oriented Programming PWC ==========
NAME: Christopher Sigouin
DATE: 30-Oct-2015
PURPOSE: Assignment 3

-->

<html>

    <head th:replace="fragments/headTag :: headTag"></head>

    <body>
  
        <h2 class="text-center">Main Menu</h2>
        
        <div class="container-fluid">

            <div class="row">
                <div class="text-center col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
                    
                    <!-- MENU OF HYPERLINKS THAT LOOK LIKE BUTTONS -->
                    <ul class="list-unstyled">
                        <li><a class="btn btn-primary" href="menuItems/addDeliverable.html" th:href="@{/menuItems/addDeliverables}">Add Deliverables</a></li>
                        <li><a class="btn btn-primary" href="menuItems/showDeliverables.html" th:href="@{/menuItems/showDeliverables}">Show Deliverables</a></li>
                        <li><a class="btn btn-primary" href="menuItems/inputGrades.html" th:href="@{/menuItems/inputGrades}">Input Grades</a></li>
                        <li><a class="btn btn-primary" href="menuItems/main.html" th:href="@{/process/purgeDeliverables}">Reset / Clear</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- SPACING -->
            <div class="row">
                <div class="col-xs-12" style="height: 50px;"></div>
            </div>
            
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                    <div class="roundTableEges bg-danger" th:if="${#lists.isEmpty(deliverables)}">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="text-align: center;" colspan="2">Deliverables</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">There are no deliverables</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="border-radius: 20px;" class="bg-success" th:if="${not #lists.isEmpty(deliverables)}">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="text-align: center;" colspan="2">Deliverables</th>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <th>Weight</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="deliverable : ${deliverables}">
                                    <td th:text="${deliverable.name}"></td>
                                    <td th:text="${deliverable.weight}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- END COL -->
            </div> <!-- END ROW -->
        </div> <!-- END CONTAINER-FLUID -->

        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>
