/*

	Author: Christopher Sigouin
	Date:
	Purpose:
	Dependencies:

*/

body { background-color: blue; }
ul	{ text-align: center; list-style-type:none;	}
td { border: solid black 3px; text-align: center; }