/Topic 1/CIS2232Example/target/
/Assignments/Assignment1/CIS2232_Assignment1_Sigouin_Christopher/nbproject/private/
/Assignments/Assignment1/CIS2232_Assignment1_Sigouin_Christopher/target/
/Topic 2/cis2232_20152016
/Topic 2/mavenproject1/target/
/mavenPractice/mavenproject1/target/
/Topic3/SpringPractice/JavaApplication12/nbproject/private/
/Topic3/practice/SpringPractice/target/
/Topic3/practice/practice/nbproject/private/
/Topic3/practice/HelloSpring/nbproject/private/
/Topic3/practice/HelloSpring/build/
/apache-tomcat-8.0.27/
/Sprint/
/mavenPractice/
/Topic3/mavenproject1/target/
/Topic3/practice/mavenproject2/target/
/Topic3/practice/mavenproject3/mavenproject3/target/
/Assignments/Assignment2/CIS2232_Assignment2_Sigouin_Christopher/target/