<html>
    <head th:replace="fragments/headTag :: headTag">

    </head>
    <body>

        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>

            <h2>Database Details</h2>

            
            <form th:object="${databaseConnection}" action="databaseSetup.html" th:action="@{/codes/databaseSetup.html}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Database Name</th>
                            <td><input type="text" name="databaseName" th:value="${databaseConnection.databaseName}"/>
                                
                            </td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td><input type="text" name="userName" th:value="${databaseConnection.userName}"/>
                                
                            </td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td><input type="text" name="password" th:value="${databaseConnection.password}"/>
                                
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>

                </fieldset>
            </form>

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>
